$icon: 1.25em
footer
    background: #e0e0e0
footer
    nav
        a
            color: #333
footer
    .container
        display: flex
        flex-direction: row
        align-items: center
        align-content: center
        justify-content: center
        min-height: 150px
        +sm
            flex-direction: column
            min-height: initial
        *
            //flex-grow: 1
        .logo
            width: 150px
            margin-left: 0
            +md
                width: 80px
            +sm
                margin: 0
        .menubar
            //max-width: 400px
            nav
                margin: 1em 0
        p
            font-size: .7rem
            a
                text-decoration: underline
                margin-right: 2em
        .slogan
            flex: 0 0 250px
            padding-left: 2em
            +sm
                display: none
footer
    .icon-logo__full
        width: 150px
        height: 60px
        fill: #405170
        +md
            display: none
    .icon-logo__small
        width: 80px
        height: 50px
        fill: #405170
        display: none
        +md
            display: block
    .icon-logo__slogan
        width: 100%
        height: auto
