.c-header
    .container
        display: flex
        flex-direction: row
        align-items: center
        max-width: 1240px
        //width: 90%!important
        +md
            width: 95%!important
        +sm
            width: 100%!important

        .page-homepage &
            padding-top: 3%
            width: 85%
            +md
                padding-top: 4%
                width: 90%
            +sm
                padding: 0

.page-oneitem
    .c-header
        background: rgba(0, 0, 0, 0.6)
        display: flex
        justify-content: center

.c-header
    font-size: 16px
    color: #949494
    .logo
        width: 80px
        height: 25px
        text-indent: -1984px
        +sm
            width: 80px
            //margin: 0 .75em 0 0
        +pseudo
        &:before
            width: 80px
            height: 25px
            background: url('../img/logo__small.svg') no-repeat 50% 50%
            background-size: contain
            display: block
    .logo
        width: 80px
        flex: 0 0 80px
        margin-right: 4em
        margin-left: 2em


//header, footer
.c-navi
    display: flex
    flex-direction: row
    align-items: center
    text-transform: uppercase
    flex-grow: 1
    +fs(9)
    font-weight: 900
    a
        color: #fff
        &:hover,
        &.is-active
            color: #ec98ff
            text-decoration: none

.c-header, .c-footer
    .logo
        margin-top: .5em
        @media only screen and (max-width: 1250px)
            margin-left: .5em
            margin-right: 1em
        // +sm
        //     margin-left: 1em
        //     margin-right: 3em
    .c-navi *
        margin-right: 3em
        +md
            margin-right: 2em
        +sm
            margin-right: 2em
        @media only screen and (max-width: 1250px)
            margin-right: 1em


.c-header
    .buttons
        // width: 230px
        // flex: 0 0 230px
        display: flex
        flex-direction: row
        margin-left: auto
        margin-right: 1em
    .buttons > .btn
        margin-right: 10px
    .buttons .btn
        .zmdi
            margin-right: 5px
        @media only screen and (max-width: 1100px)
            > span
                display: none
            > .zmdi
                line-height: 38px
                height: 38px
                font-size: 20px
        .menu__burger
            color: #fff
            //margin-left: 1em
            &.is-active

.c-navi.menu-mobile
    transform: translate(0, -800px)
    position: fixed
    left: 0
    top: 80px
    padding: 1em
    width: 100%
    height: 10%
    transition: height 0.5s cubic-bezier(0.15, 0.99, 0.18, 1.01)
    z-index: 999
    overflow: hidden
    .is-menu-open &
        transform: translate(0, 0)
        overflow-y:scroll
        height: 100%
        left: 0
        bottom: 0
    .menuWrap
        height: 100%
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        margin-top: -80px
        overflow: hidden
        *
            margin: 0
            margin-bottom: 2em
            font-size: 24px
    +pseudo
    &:after
        +coverdiv
        background: rgba(0, 0, 0, 0.75)
        z-index: -1


.c-header nav.c-navi
    display: block
    +sm
        display: none

.c-header nav.c-navi.menu-mobile
    display: none
    +sm
        display: block
.menu__burger
    display: none
    +sm
        display: flex
        align-items: center

.hamburger .hamburger-inner,
.hamburger .hamburger-inner:after,
.hamburger .hamburger-inner:before,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before
    background: #fff
    opacity: 1