---
title: Главная
barbaNameSpace: homepage
breadCrumbsItems: ['Главная']
---
{% extends "layouts/_layout.html" %}


{% block header %}
x
{% endblock %}
{% block content %}
	<div id="fullpage">
	  <div class="section one">
	    <div class="slide__block">
	      <div class="slide__block-wrap">
	        <div class="slide__block-row">
	          <div class="slide__col-one">
	            <figure class="hero_slogan">
	              {{mixins.icon('logo__full')}}
	            </figure>
	            <p class="lead">Облачная система автоматизации и&nbsp;стандартизации снабжения и&nbsp;управления взаимоотношениями с&nbsp;поставщиками. </p>
	            <div class="hero-buttons">
	              <a href="#secondSlide" class="btn btn_icon"><span>Узнать больше</span><i class="zmdi zmdi-arrow-right icon"></i></a>
	            </div>
	          </div>
	          <figure class="hero-pic">
	            <img src="/img/slide1.png" />
	          </figure>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="section two ">
	    <div class="slide__block">
	      <div class="slide__block-wrap">
	        <div class="benefits">
	          <ul class="benefits__list">
	            <li class="benefits__item">
	              <figure class="benefits__item-ico">
	                {{mixins.icon('home01')}}
	              </figure>
	              <div class="benefits__item-title">Автоматизация и&nbsp;стандартизация <br />бизнес-процессов.</div>
	            </li>
	            <li class="benefits__item">
	              <figure class="benefits__item-ico">
	                {{mixins.icon('home02')}}
	              </figure>
	              <div class="benefits__item-title">Абсолютная прозрачность и&nbsp;контроль затрат в&nbsp;режиме реального времени.</div>
	            </li>
	            <li class="benefits__item">
	              <figure class="benefits__item-ico">
	                {{mixins.icon('home03')}}
	              </figure>
	              <div class="benefits__item-title">Сокращение трудозатрат сотрудников. <br /> Фокус на&nbsp;основные обязанности по&nbsp;увеличению эффективности снабжения.</div>
	            </li>
	            <li class="benefits__item">
	              <figure class="benefits__item-ico">
	                {{mixins.icon('home04')}}
	              </figure>
	              <div class="benefits__item-title">Простая и&nbsp;эффективная форма взаимодействия и&nbsp;сотрудничества с&nbsp;поставщиками.</div>
	            </li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="section three">
	    <div class="slide__block">
	      <div class="slide__block-wrap">
	        <div class="benefits">
	          <ul class="benefits__list">
	            <li class="benefits__item icon05">
	              <figure class="benefits__item-ico">
	                {{mixins.icon('home05')}}
	              </figure>
	              <div class="benefits__item-title">Экономия в&nbsp;получении более выгодных предложений за&nbsp;счет специальных инструментов поиска и&nbsp;выбора поставщиков. </div>
	            </li>
	            <li class="benefits__item">
	              <figure class="benefits__item-ico">
	                {{mixins.icon('home06')}}
	              </figure>
	              <div class="benefits__item-title">Прозрачный и&nbsp;оперативный контроль исполнения поставок и&nbsp;качества продукции.</div>
	            </li>
	            <li class="benefits__item">
	              <figure class="benefits__item-ico">
	                {{mixins.icon('home07')}}
	              </figure>
	              <div class="benefits__item-title">Выстраивание долгосрочных и&nbsp;взаимовыгодных отношений с&nbsp;поставщиками.</div>
	            </li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
	  <div class="section four">
	    <div class="slide__block">
	      <div class="slide__block-wrap">
	        <h1 class="slideTitle">Оцифруйте<br /> ваши закупки и&nbsp;перейдите к&nbsp;новому уровню<br /> снабжения предприятия. </h1>
	        <div class="hero-buttons">
	          <a href="#" class="btn btn_icon no-barba">Зарегистрироваться <i class="zmdi zmdi-arrow-right icon"></i></a>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>


{% endblock %}

