---
title: Главная
barbaNameSpace: homepage
breadCrumbsItems: ['Главная']
---
{% extends "layouts/_layout.html" %}


{% block header %}
x
{% endblock %}
{% block content %}
	<div id="fullpage">
	  <div class="section one">
		<div class="slide__block"><div class="slide__block-wrap">
			<div class="slide__block-row">
				<div class="slide__col-one">
					<figure class="hero_slogan">
						{{mixins.icon('logo__full')}}
					</figure>
					<p class="lead">
						Облачная система автоматизации и стандартизации снабжения и управления взаимоотношениями с поставщиками.
					</p>
			        <div class="hero-buttons">
			            <a href="#secondSlide" class="btn btn_icon"><span>Узнать больше</span><i class="zmdi zmdi-arrow-right icon"></i></a>
			        </div>
				</div>
					<figure class="hero-pic">
						<img src="/img/slide1.png" />
					</figure>
			</div>
		</div></div>
	  </div>
	  <div class="section two ">
		<div class="slide__block"><div class="slide__block-wrap">
			<!-- <img src="/img/slide2.png" class="contSlide" /> -->
			<div class="benefits">
				<ul class="benefits__list">
					<li class="benefits__item">
						<figure class="benefits__item-ico">
							{{mixins.icon('home01')}}
						</figure>
						<div class="benefits__item-title">
							Автоматизация и стандартизация <br/>бизнес-процессов
						</div>
					</li>
					<li class="benefits__item">
						<figure class="benefits__item-ico">
							{{mixins.icon('home02')}}
						</figure>
						<div class="benefits__item-title">
							Абсолютная прозрачность и контроль затрат в режиме реального времени
						</div>
					</li>
					<li class="benefits__item">
						<figure class="benefits__item-ico">
							{{mixins.icon('home03')}}
						</figure>
						<div class="benefits__item-title">
							Сокращение трудозатрат сотрудников. <br/> Фокус на основные обязанности по увеличению эффективности снабжения
						</div>
					</li>
					<li class="benefits__item">
						<figure class="benefits__item-ico">
							{{mixins.icon('home04')}}
						</figure>
						<div class="benefits__item-title">
							Простая и эффективная форма взаимодействия и сотрудничества с поставщиками
						</div>
					</li>
				</ul>
			</div>
		</div></div>
	  </div>
	  <div class="section three">
		<div class="slide__block"><div class="slide__block-wrap">
			<div class="benefits">
				<ul class="benefits__list">
					<li class="benefits__item icon05">
						<figure class="benefits__item-ico">
							{{mixins.icon('home05')}}
						</figure>
						<div class="benefits__item-title">
							Простая и эффективная форма взаимодействия и сотрудничества с поставщиками
						</div>
					</li>
					<li class="benefits__item">
						<figure class="benefits__item-ico">
							{{mixins.icon('home06')}}
						</figure>
						<div class="benefits__item-title">
							Экономия в получении более выгодных предложений за счет специальных инструментов поиска и выбора поставщиков
						</div>
					</li>
					<li class="benefits__item">
						<figure class="benefits__item-ico">
							{{mixins.icon('home07')}}
						</figure>
						<div class="benefits__item-title">
							Прозрачный и оперативный контроль исполнения поставок и качества продукции
						</div>
					</li>
				</ul>
			</div>
		</div></div>
	  </div>
	  <div class="section four">
		<div class="slide__block"><div class="slide__block-wrap">
	 	  	<h1 class="slideTitle">
		  		Оцифруйте  <br/>
				ваши закупки и <br/>
				перейдите <br/>
				к новому уровню <br/>
				снабжения предприятия <br/>
		  	</h1>
	        <div class="hero-buttons">
				<a href="05_reg.html" class="btn btn_icon">зарегистрироваться <i class="zmdi zmdi-arrow-right icon"></i></a>
	        </div>
		</div></div>


	  </div>

	</div>


{% endblock %}

