---
title: Поставщикам
breadCrumbsItems: ['Главная','Внутренняя','']
footerWide: true
isLogged: true
barbaNameSpace: oneitem
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<main class="itemPage">
		<div class="page__title">
			<span class="page__title-text">
			{{ title }}
			</span>
		</div>
		<div class="page__content">
			<div class="row">
				<p>Размещая в системе Plussell ваши товары и услуги, вы гарантированно попадете в поисковые запросы заказчиков и получите новые заявки и заказы в единой автоматизированной системе.
				</p>
				<p>Система Plussell автоматически свяжет ваши номенклатурные позиции с номенклатурой заказчика, что делает дальнейшее взаимодействие с заказчиком  удобным, быстрым и понятным.
				</p>
				<p>В режиме реального времени отслеживайте текущий статус заявок и заказов, контролируйте процессы отгрузки и приемки, выгружайте ваши прайс-листы и легко находите новых заказчиков.
				</p>
			</div>
			<div class="row">
	   	<div class="tabs tabs-modules">
    		<ul class="tabs__caption">
    			<li class="tabs__caption-item active"><a href="#moduleCustomer_tab-1">Заявки</a></li>
    			<li class="tabs__caption-item"><a href="#moduleCustomer_tab-2">Заказы</a></li>
    			<li class="tabs__caption-item"><a href="#moduleCustomer_tab-3">Поставки</a></li>
    		</ul>
    		<div class="tabs__container">
    			<div class="tabs__content active" id="moduleCustomer_tab-1">
					<dl class="module">
						<dt class="module__pic">
							<a class="module__pic-full" href="img/assets/module__customer01.png">
								<img class="module__pic-item" src="img/assets/module__customer01.png" />
							</a>
						</dt>
						<dd class="module__desc">
							<p>Автоматизирует такие процессы, как формирование заявки по номенклатуре организации, поиск поставщиков, сбор и анализ предложений, коммуникацию с поставщиками, управление конкурентным листом вплоть до согласования и выбора поставщиков</p>
						</dd>
					</dl>
    			</div>
    			<div class="tabs__content" id="moduleCustomer_tab-2">
					<dl class="module">
						<dt class="module__pic">
							<a class="module__pic-full" href="img/assets/module__customer02.png">
								<img class="module__pic-item" src="img/assets/module__customer02.png" />
							</a>
						</dt>
						<dd class="module__desc">
							<p>Быстрое и простое выполнение заказов по прайс-листам поставщиков позволит контролировать условия договора и наладить бесперебойные поставки для соблюдения сроков и планов производства</p>
						</dd>
					</dl>
    			</div>
    			<div class="tabs__content" id="moduleCustomer_tab-3">
					<dl class="module">
						<dt class="module__pic">
							<a class="module__pic-full" href="img/assets/module__customer03.png">
								<img class="module__pic-item" src="img/assets/module__customer03.png" />
							</a>
						</dt>
						<dd class="module__desc">
							<p>Модуль в едином интерфейсе позволяет подписывать договоры и спецификации по выбранным поставщикам и контролировать процессы отгрузок и приемки по расхождениям товара и срокам поставки.<br> Получить все закрывающие документы по сделке и занести в реестр платежей акцептованную сумму поставки </p>
							<p>Реестр поставок покажет всю картину ваших поставок, даст возможность подключать ваши склады и логистику, а ответственные сотрудники и кладовщики получат удобные инструменты управления и контроля процессами отгрузки и приемки. </p>
						</dd>
					</dl>
    			</div>
    		</div>
    		<!-- .tabs__container-->
    	</div>
		<!-- .tabs-->
			</div>
			<div class="row">
          		{% include "partials/_ps-tools.html" %}
			</div>
			<div class="row">

			</div>
			<div class="row">

			</div>
		</div>
	</main>

{% endblock %}