---
title: Тарифы
breadCrumbsItems: ['Главная','Внутренняя','']
footerWide: true
isLogged: true
barbaNameSpace: oneitem
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<main class="itemPage">
		<div class="page__title">
			<span class="page__title-text">
			{{ title }}
			</span>
		</div>
		<div class="page__content">
			<div class="row">
				<div class="title-accent title-accent--wide"><h2>Первые 3 месяца бесплатно!</h2></div>
				<p style="text-align: center">После завершения периода бесплатного пользования:</p>
				<div class="pricing">
	                <div class="pricing__item">
	                    <h3 class="pricing__title">1 месяц</h3>
	                    <p class="pricing__sentence">пользования системой</p>
	                    <div class="pricing__price">
	                    	<span class="pricing__value pricing__anim">1200</span>
	                    	<span class="pricing__currency pricing__anim">₽</span>
	                    	</div>
	                    <p class="pricing__price-desc">&nbsp;</p>
	                    <ul class="pricing__feature-list">
	                        <li class="pricing__feature"><span class="icon icon--chart-bars"></span>10 сделок в месяц</li>
	                        <li class="pricing__feature"><span class="icon icon--rocket"></span>10 поставщиков</li>
	                    </ul>
	                    <a href="#" class="btn">Подключить <i class="zmdi zmdi-plus"></i></a>
	                </div>
	                <div class="pricing__item pricing__item--featured">
	                    <h3 class="pricing__title">6 месяцев</h3>
	                    <p class="pricing__sentence">пользования системой</p>
	                    <div class="pricing__price">
	                    	<span class="pricing__value pricing__anim">6000</span>
	                    	<span class="pricing__currency pricing__anim">₽</span>

	                    </div>
	                    <p class="pricing__price-desc">833 руб./мес</p>
	                    <ul class="pricing__feature-list">
	                        <li class="pricing__feature"><span class="icon icon--chart-bars"></span>50 сделок в месяц</li>
	                        <li class="pricing__feature"><span class="icon icon--bubble"></span>5 часов технической поддержки</li>
	                        <li class="pricing__feature"><span class="icon icon--rocket"></span>100 поставщиков</li>
	                    </ul>
	                    <a href="#" class="btn">Подключить <i class="zmdi zmdi-plus"></i></a>
	                </div>
	                <div class="pricing__item">
	                    <h3 class="pricing__title">1 год</h3>
	                    <p class="pricing__sentence">пользования системой</p>
	                    <div class="pricing__price">
	                    	<span class="pricing__value pricing__anim">10000</span>
	                    	<span class="pricing__currency pricing__anim">₽</span>

	                    </div>
	                    <p class="pricing__price-desc">833 руб./мес</p>
	                    <ul class="pricing__feature-list">
	                        <li class="pricing__feature"><span class="icon icon--chart-bars"></span>Неограниченные сделки</li>
	                        <li class="pricing__feature"><span class="icon icon--bubble"></span>Неограниченная техническая и психологическая поддержка</li>
	                        <li class="pricing__feature"><span class="icon icon--rocket"></span>Любое кол-во поставщиков</li>
	                    </ul>
	                   <a href="#" class="btn">Подключить <i class="zmdi zmdi-plus"></i></a>
	                </div>
	            </div>
				</div>
			<div class="row">

			</div>
			<div class="row">

			</div>
			<div class="row">

			</div>
		</div>
	</main>

{% endblock %}