{% import "data/footer.html" as tests %}

{% macro footer__block(phone) %}
<!-- footer {% if(footerWide) %}footer__wide{% endif %} -->
<footer class="footer {% if(footerWide) %}footer__wide{% endif %}">
    <div class="container">
        <div class="logo">
            {{mixins.icon('logo__full')}}
            {{mixins.icon('logo__small')}}
        </div>
        <div class="menubar">
            {{mixins.menubar(title)}}
            <p class="subNav">
                <a href="06_contacts.html">Контактная информация</a>
                <a href="#">Использование информации</a>
                <a href="08_legal.html">Пользовательское соглашение</a>
            </p>
            <p>© 2015-2019, ООО «АБР групп»</p>
        </div>
        <div class="slogan">
            {{mixins.icon('logo__slogan')}}
        </div>



    </div>
</footer>

{% endmacro %}


{{footer__block('8 (866) 700-00-10')}}
<!-- //.footer -->