<!-- header -->
<header class="c-header js-header">
    <div class="container">
        <a href="01_home.html" class="logo"><span>PLUSSELL - электронная рабочая система для автоматизации и контроля торгово-закупочных процессов предприятий</span></a>
        {{mixins.menubar(title, 'menu')}}

        <div class="buttons">
            <a href="#" class="btn"><i class="zmdi zmdi-account"></i><span>Вход в систему</span></a>
            <a href="05_reg.html" class="btn btn_default"><i class="zmdi zmdi-key"></i><span>Регистрация</span></a>
            <a href="#" class="hamburger hamburger--collapse menu__burger">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </a>
        </div>
    </div>
</header>

