<div class="title-accent title-accent--wide"><h2>Инструменты управление и контроля</h2></div>
<div class="tabs tabs-modules tabs-modules--tools">
    <ul class="tabs__caption">
        <li class="tabs__caption-item active"><a href="#module_tab1">Умный поиск</a></li>
        <li class="tabs__caption-item"><a href="#module_tab2">Реестр договоров</a></li>
        <li class="tabs__caption-item"><a href="#module_tab3">Реестр платежей </a></li>
        <li class="tabs__caption-item"><a href="#module_tab4">Прайс-листы поставщиков</a></li>
        <li class="tabs__caption-item"><a href="#module_tab5">Электронный документооборот </a></li>
        <li class="tabs__caption-item"><a href="#module_tab6">Учет внутренней номенклатуры</a></li>
    </ul>
    <div class="tabs__container">
        <div class="tabs__content active" id="module_tab1">
            <dl class="module">
                <dt class="module__pic">
                    <img class="module__pic-item" src="/img/assets/module__tools01.png" />
                </dt>
                <dd class="module__desc"></dd>
            </dl>
        </div>
        <div class="tabs__content" id="module_tab2">
            <dl class="module">
                <dt class="module__pic">
                    <img class="module__pic-item" src="/img/assets/module__tools02.png" />
                </dt>
                <dd class="module__desc"></dd>
            </dl>
        </div>
        <div class="tabs__content" id="module_tab3">
            <dl class="module">
                <dt class="module__pic">
                    <img class="module__pic-item" src="/img/assets/module__tools03.png" />
                </dt>
                <dd class="module__desc"></dd>
            </dl>
        </div>
        <div class="tabs__content" id="module_tab4">
            <dl class="module">
                <dt class="module__pic">
                    <img class="module__pic-item" src="/img/assets/module__tools04.png" />
                </dt>
                <dd class="module__desc"></dd>
            </dl>
        </div>
        <div class="tabs__content" id="module_tab5">
            <dl class="module">
                <dt class="module__pic">
                    <img class="module__pic-item" src="/img/assets/module__tools05.png" />
                </dt>
                <dd class="module__desc"></dd>
            </dl>
        </div>
        <div class="tabs__content" id="module_tab6">
            <dl class="module">
                <dt class="module__pic">
                    <img class="module__pic-item" src="/img/assets/module__tools06.png" />
                </dt>
                <dd class="module__desc"></dd>
            </dl>
        </div>
    </div>
    <!-- //.tabs__container-->
</div>
<!-- //.tabs-->