<div class="title-accent title-accent--wide"><h2>Инструменты управление и контроля</h2></div>
<div class="tabs tabs-modules tabs-modules--tools">
    <ul class="tabs__caption">
        <li class="tabs__caption-item active"><a href="#desc_tab-1">Реестр договоров</a></li>
        <li class="tabs__caption-item"><a href="#desc_tab-2">Реестр платежей </a></li>
        <li class="tabs__caption-item"><a href="#desc_tab-3">Прайс-листы поставщиков</a></li>
        <li class="tabs__caption-item"><a href="#desc_tab-4">Электронный документооборот </a></li>
        <li class="tabs__caption-item"><a href="#desc_tab-5">Учет внутренней номенклатуры</a></li>
    </ul>
    <div class="tabs__container">
        <div class="tabs__content active" id="desc_tab-1">
            <dl class="module">
                <dt class="module__pic">
                    <img class="module__pic-item" src="https://trello-attachments.s3.amazonaws.com/5a40dcb2b35541b64235ccd1/5c4714d820b1917e5c005a54/0847a576788643f448e7291e2ec337e4/3_%D0%9B%D0%9F.png" />
                </dt>
                <dd class="module__desc"></dd>
            </dl>
        </div>
        <div class="tabs__content" id="desc_tab-2">
            <dl class="module">
                <dt class="module__pic">
                    <img class="module__pic-item" src="https://trello-attachments.s3.amazonaws.com/5a40dcb2b35541b64235ccd1/5c4714d820b1917e5c005a54/0847a576788643f448e7291e2ec337e4/3_%D0%9B%D0%9F.png" />
                </dt>
                <dd class="module__desc"></dd>
            </dl>
        </div>
        <div class="tabs__content" id="desc_tab-3">
            <dl class="module">
                <dt class="module__pic">
                    <img class="module__pic-item" src="https://trello-attachments.s3.amazonaws.com/5a40dcb2b35541b64235ccd1/5c4714d820b1917e5c005a54/0847a576788643f448e7291e2ec337e4/3_%D0%9B%D0%9F.png" />
                </dt>
                <dd class="module__desc"></dd>
            </dl>
        </div>
        <div class="tabs__content" id="desc_tab-4">
            <dl class="module">
                <dt class="module__pic">
                    <img class="module__pic-item" src="https://trello-attachments.s3.amazonaws.com/5a40dcb2b35541b64235ccd1/5c4714d820b1917e5c005a54/0847a576788643f448e7291e2ec337e4/3_%D0%9B%D0%9F.png" />
                </dt>
                <dd class="module__desc"></dd>
            </dl>
        </div>
        <div class="tabs__content" id="desc_tab-5">
            <dl class="module">
                <dt class="module__pic">
                    <img class="module__pic-item" src="https://trello-attachments.s3.amazonaws.com/5a40dcb2b35541b64235ccd1/5c4714d820b1917e5c005a54/0847a576788643f448e7291e2ec337e4/3_%D0%9B%D0%9F.png" />
                </dt>
                <dd class="module__desc"></dd>
            </dl>
        </div>
    </div>
    <!-- .tabs__container-->
</div>
<!-- .tabs-->