.icon-01 {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-02 {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-03 {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-04 {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-05 {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-06 {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-07 {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-logo__full {
  width: 3.21em;
  height: 1em;
  fill: #fff;
}
.icon-logo__slogan {
  width: 2.83em;
  height: 1em;
  fill: #ADA3B9;
}
.icon-logo__small {
  width: 2.2em;
  height: 1em;
  fill: #fff;
}
